.fAva{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.item{
    margin: 2px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 80px;
    font-size: 13px;
}